.terminalContainer {
  font-family: 'Fira Code', monospace;
  background-color: #1e1e1e;
  color: #cccccc;
  display: flex;
  flex-direction: column;
  height: 200px;
  border-top: 1px solid #333;
  user-select: text;
}

.tabBar {
  display: flex;
  background-color: #252526;
  border-bottom: 1px solid #333;
  font-family: 'Fira Code', monospace;
  user-select: none;
  padding-left: 10px;
  height: 35px;
  align-items: center;
  overflow-x: auto;
}

.tab {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  margin-right: 5px;
  cursor: pointer;
  color: #a0aec0;
  border-bottom: 2px solid transparent;
  transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.tab:hover {
  color: #68d391;
}

.active {
  color: #38b2ac;
  border-bottom: 2px solid #38b2ac;
  font-weight: 700;
}

.terminalContent {
  flex-grow: 1;
  padding: 10px 15px;
  overflow-y: auto;
  white-space: pre-wrap;
  background-color: #1e1e1e;
  color: #cccccc;
}
